### Listas --> Datos heterogéneos, acepta repetidos, elementos mutables, accesible por índice

In [1]:
lista1 = ["Marta", 20, "Madrid", True, "Madrid"]

In [4]:
lista1[0] = "María"

In [7]:
20 in lista1

True

In [5]:
lista1

['María', 20, 'Madrid', True, 'Madrid']

In [8]:
numeros = 2,3,4,5,41

In [12]:
lista_numeros = list(numeros)

- Listas = []
- Heterogénea [3,4,"María, False]
- Indexación y Slicing
- Mutable: lista[1] = 4
- Unir listas
- Convertir en lista: list()
- in y not in

Funciones:

- .append() --> añadir nuevo elemento a la lista (solo uno)
- .insert() --> añadir elemento, pero diciéndole primero en qué índice lo quiero
- .extend() --> añadir varios elementos a la lista, entre corchetes
- .remove() --> quita un elemento en concreto
- .pop() --> quita el último elemento de la lista o el de una ubicación en concreto
- .reverse() --> le da la vuelta a esa lista
- .sort() --> ordena la lista
- .clear() --> vacía la lista
- .count() --> cuenta cuántas veces aparece en la lista el elemento que pongamos entre paréntesis ej: lista_compra.count("fresas")
- .index() --> nos dice el índice del valor que le pasemos
- len() --> nos dice cuántos elementos tiene la lista
- min()
- max()
- copy() --> crea una copia para no sobreescribir la primera

In [27]:
lista_nueva = [30, "Marta", "Lugo", True, 5]

In [29]:
lista_nueva.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [28]:
min(lista_nueva)

TypeError: '<' not supported between instances of 'str' and 'int'

In [20]:
datos_clientes = ["Carla", 20, "Valencia"]

In [21]:
datos_clientes.extend(["Calle Ramón y Cajal", 1234])

In [23]:
datos_clientes.remove("Valencia")

In [25]:
datos_clientes.pop()

1234

In [24]:
datos_clientes

['Carla', 20, 'Calle Ramón y Cajal', 1234]

In [26]:
len(datos_clientes)

3

In [13]:
print(lista_numeros)

[2, 3, 4, 5, 41]

In [15]:
lista_numeros.append(15)
print(lista_numeros)

[2, 3, 4, 5, 41, 15, 15]

In [17]:
lista_numeros.insert(0, 1)
print(lista_numeros)

[1, 1, 2, 3, 4, 5, 41, 15, 15]

In [18]:
lista_numeros.append(50)

In [19]:
lista_numeros

[1, 1, 2, 3, 4, 5, 41, 15, 15, 50]

In [30]:
#Ejercicio: De la siguiente lista, elimina un país concreto, añade otro en una ubicación concreta, dale la vuelta, pide a la usuaria que introduzca
# un país y añádelo a la lista,
# ordénala por orden alfabético y cuenta cuántos países hay
paises = ["España", "Italia", "Bélgica", "Suiza", "Portugal"]

In [31]:
paises.remove("Italia")

In [32]:
paises.insert(0, "Suecia")

In [33]:
paises

['Suecia', 'España', 'Bélgica', 'Suiza', 'Portugal']

In [34]:
pais_nuevo = input("Dime un país nuevo, por favor")

In [35]:
pais_nuevo

'Grecia'

In [36]:
paises.append(pais_nuevo)

In [40]:
paises.sort(reverse=True)

In [41]:
paises

['Suiza', 'Suecia', 'Portugal', 'Grecia', 'España', 'Bélgica']

# Tuplas --> Datos heterogéneos, acepta repetidos, inmutables, accesible por índice

- Tuplas = ()
- Heterogénea (3,4,"María, False)
- Indexación y Slicing
- Inmutables: no se pueden añadir, eliminar o cambiar sus elementos
- Para cambiar, se puede pasar a lista
- Puede contener elementos MUTABLES
- Convertir en tupla: tuple()
- in y not in

Funciones:

- .count()
- .index()
- len()
- min()
- max()

In [42]:
tupla = (20, "Lluvia", "Sevilla", [1,2,3,4])

In [43]:
tupla[3][0] = 2

In [45]:
lista1 = list(tupla)

In [46]:
lista1

[20, 'Lluvia', 'Sevilla', [2, 2, 3, 4]]

In [47]:
lista1.append("Madrid")

In [49]:
tuple(lista1)

(20, 'Lluvia', 'Sevilla', [2, 2, 3, 4], 'Madrid')

In [ ]:
#Accede al último dato de la tupla
#Coge solo los dos primeros datos.
#Pregúntale si aparece "María"
#Conviértelo en lista, añádele un valor y después conviértelo en tupla
#cuenta cuántos valores tiene

In [50]:
tupla_nueva = [2,4,6,True, "Cádiz"]

In [55]:
tupla_nueva[0:6]

[2, 4, 6, True, 'Cádiz']

In [56]:
"María" in tupla_nueva

False

In [58]:
lista2 = list(tupla_nueva)

In [59]:
lista2.append(3456)

In [60]:
lista2

[2, 4, 6, True, 'Cádiz', 3456]

In [61]:
tupla_definitiva = tuple(lista2)

In [62]:
tupla_definitiva

(2, 4, 6, True, 'Cádiz', 3456)

In [20]:
datos = ("María", 30, "Madrid", "Calle Ramón y Cajal", "Marketing")

# Diccionario --> Acepta repetidos (pero NO las claves, solo los valores), clave y valor, las claves son inmutables y únicas, accesible por clave

In [63]:
diccionario = {"colonia": 1, "papel de cocina": 2, "fruta": 20, "lavavajillas":1}

In [67]:
len(diccionario)

4

In [68]:
diccionario['fruta']

20

In [66]:
"colonia" in diccionario

True

In [69]:
diccionario.items()

dict_items([('colonia', 1), ('papel de cocina', 2), ('fruta', 20), ('lavavajillas', 1)])

- Diccionarios = {clave:valor}
- Acepta valores repetidos
- Claves inmutables y no se pueden repetir, pero se pueden añadir y eliminar pares de clave-valor y modificar valores
- Valores heterogéneos
- Accesible por clave, NO POR ÍNDICE
- Convertir en diccionario: dict()
- in, not in

Funciones:

- .fromkeys(clave, valores) --> añade conjuntos de clave valor
- len()
- .keys() --> muestra las claves
- .values() --> muestra los valores
- .items() --> devuelve una lista de tuplas con cada clave y valor
- .copy()
- .clear()
- .update() --> para añadir un elemento nuevo al diccionario, pero SIEMPRE se le pasa en formato diccionario, ejemplo: diccionario.update({"alumnas":18})
- .get() --> para obtener un valor, dándole una clave, aunque también se puede acceder con diccionario[clave]
- .pop() --> elimina un valor pasándole la clave
- .popitem() --> elimina el ultimo clave-valor agregado
- dictnuevo = {**dict1, **dict2, **dict3}

In [73]:
diccionario.update({"pan":3})

In [76]:
diccionario.get("colonia")

1

In [ ]:
claves = ("manzana", "pera", "piña")
valores = (2,3,4)

In [71]:
diccionario.fromkeys(claves,valores)

{'manza': (2, 3, 4), 'pera': (2, 3, 4), 'piña': (2, 3, 4)}

In [77]:
frutas = {"manzanas": 2, "plátanos": 5, "uvas": 4, "ciruelas": 6, "fresas": 10}

In [ ]:
#Haz que te devuelva el diccionario el valor de uvas

In [78]:
frutas.get("uvas")

4

In [79]:
frutas["uvas"]

4

In [ ]:
#Elimina el último clave-valor del diccionario

In [80]:
frutas.popitem()

('fresas', 10)

In [ ]:
#Añade una nueva fruta con su valor

In [81]:
frutas.update({"manzana": 10})

In [83]:
frutas.update({"manzanas": 20})

In [84]:
frutas

{'manzanas': 20, 'plátanos': 5, 'uvas': 4, 'ciruelas': 6, 'manzana': 10}

In [ ]:
#Muestra todas las claves del diccionario

In [85]:
frutas.keys()

dict_keys(['manzanas', 'plátanos', 'uvas', 'ciruelas', 'manzana'])

In [ ]:
#Muestra los valores del diccionario

In [86]:
frutas.values()

dict_values([20, 5, 4, 6, 10])

In [90]:
frutas2 = frutas.copy()

In [91]:
frutas

{}

In [ ]:
#¿Cuántos elementos hay en el diccionario?

In [87]:
len(frutas)

5

In [ ]:
#Borra todo el diccionario

In [88]:
frutas.clear()

In [89]:
frutas

{}

# CONJUNTOS O SETS: Datos heterogéneos, no acepta repetidos, inmutable, no accesible por índice

In [92]:
conjunto = {1,26,54,3,2,1}

In [95]:
conjunto

{1, 2, 3, 26, 54}

In [96]:
conjunto

{1, 2, 3, 26, 54}

In [97]:
1 in conjunto

True

In [98]:
conjunto.add(500)

In [102]:
conjunto.update({11,23,431})

In [107]:
conjunto.remove(20)

KeyError: 20

In [108]:
conjunto.discard(20)

- Conjunto = {}
- No acepta valores repetidos
- Elementos mutables en cuanto a añadir o eliminar, pero no permite listas o diccionarios dentro
- Valores heterogéneos
- No accesible por índice, desordenados
- Convertir en conjunto: set()
- in, not in

Funciones:

- len()
- .add() --> para añadir un elemento más, SOLO UNO
- .update() --> para pasarle una lista de elementos a añadir
- .copy()
- .remove() --> elimina UN SOLO ELEMENTO y da error si no existe
- .discard() --> igual, pero no da errr
- .pop()
- .clear()

Operaciones especiales:

- a.union(b) o a | b --> Muestra los elementos que suman entre los dos conjuntos, sin repetir
- a.intersection(b) o a & b --> Muestra los elementos en común
- a.difference(b) o a-b --> Muestra los que aparece en uno, quitando los que aparecen en el otro
- a.symmetric_difference(b) o a^b --> Muestra los que no tengan en común
- a.issubset(b) o a <= b --> Da True si todos los elementos de a están en b
- a.issuperset(b) o a >= b --> Da True si a contiene todos los elementos de b
NO TIENE NADA QUE VER LA CANTIDAD DE VALORES

In [146]:
conjunto_nuevo = {45,30,40,53,500,77}
conjunto_nuevo2 = {77, 500, 40, 50, 200}

In [147]:
conjunto_nuevo2 <= conjunto_nuevo

False

In [ ]:
conjunto

In [ ]:
conjunto1 = {"María", "Antonio", "Juan", "Luisa", "Cecilia", "Pepa"}
conjunto2 = {"María", "Antonio"}

In [131]:
conjunto2 <= conjunto1

False

In [118]:
conjunto1 <= conjunto2

False

In [126]:
conjunto3 = {'Juana', 'Pepa'}
conjunto4= {'Juan', 'Pepe', "Luisa"}

In [127]:
conjunto3 <= conjunto4

False

In [117]:
conjunto1 - conjunto2

{'Antonio', 'Cecilia', 'Luisa', 'Pepa'}

In [113]:
conjunto1 | conjunto2

{'Antonio', 'Carmen', 'Cecilia', 'Juan', 'Luisa', 'María', 'Pepa', 'Rosa'}

In [112]:
conjunto1.union(conjunto2)

{'Antonio', 'Carmen', 'Cecilia', 'Juan', 'Luisa', 'María', 'Pepa', 'Rosa'}

In [115]:
conjunto1 & conjunto2

{'Juan', 'María'}

In [116]:
conjunto1.intersection(conjunto2)

{'Juan', 'María'}

In [ ]:
#Muestra todos los trabajadores que aparecen entre las dos listas

In [ ]:
#¿Qué trabajadores aparecen en las dos listas?

In [ ]:
#¿Es el conjunto2 un subconjunto del conjunto1?