# Hoy vamos a ver:
## - Visual Studio Code: crear un Jupyter, guardar, code & markdown, activar código
## - Markdown
## - Comentar dentro del código
## - Variables
## - Variables numéricas
## - Variables de texto
## - Variables booleanas
## - print() y f-string
## - input()
## - Operadores de comparación

Jupyter --> File, New File, Jupyter Notebook
Guardar -> Save

Activar celda: Control + enter o check o play

Markdown

# Hola
## Subtítulo
### Subtítulo 2
_tema_

**texto**
- uno
- dos

Comentar dentro del código: el uso de # y """ """

In [ ]:
#esta variable es mi edad
#y la voy a usar para nosequé
a = 30
#esta segunda variable es el dinero que tengo
b = 150

In [42]:
patatas = 30
maria = 50
kilos = 2.5

2.5

¿Qué es una variable? ¿Cómo nombrarla?

Tipos de variables:

- Numéricas
 - Para pasar a entero int()
 - Para pasar a decimal float()
- Cadena de texto
    - Para pasar una variable a string usamos str()
- Booleanas
    - Para pasar una variable a booleano usamos bool()

NUMÉRICAS
Operaciones algebraicas:
+
-
*
/
//
%
**
pow()
divmod()
round()
abs()
max()
min()
sorted()
sum(())

In [66]:
print(min(2,4,5,64,2))
print(max(4,3,11,23))

2
23

In [63]:
naranja = 1
fresa = 4
platano = 20
fruta_menor = min(naranja, fresa, platano)

In [64]:
fruta_menor

1

In [61]:
min(3.4, 5,3,2,2)

2

In [60]:
max(2,3,4,5,6,6,4,3,1)

6

In [59]:
abs(-20)

20

In [58]:
round(2.594945,2)

2.59

In [56]:
pow(2,3)

8

In [46]:
peras = 5
uvas = 2

In [54]:
30%3

0

In [50]:
peras * uvas

10

In [49]:
peras - uvas

3

In [48]:
print(peras + uvas)

7

In [68]:
fruta_menor = min(2,3,4,3,1)
print(fruta_menor)

1

In [69]:
nombre = "Julia"
edad = 40
altura = 1.70
clienta = False

In [74]:
print(f"Hola, {nombre}, como tienes {edad} y mides {altura}, te ofrecemos esta oferta.")

Hola, Julia, como tienes 40 y mides 1.7, te ofrecemos esta oferta.

CADENAS DE TEXTO O STRING

- .upper()
- .lower()
- .title()
- .capitalize()
- .swapcase()
- .strip()
- .split()
- .replace()
- len()
- .find()
- .count()

In [99]:
amiga = "María del Carmen"

In [100]:
len(amiga)

16

In [97]:
lema = "Me encanta Python"

In [98]:
lema.replace("Python", "comer")

'Me encanta comer'

In [92]:
frase = "  hola que tal  "

In [93]:
frase.strip()

'hola que tal'

In [94]:
frase.split()

['hola', 'que', 'tal']

In [95]:
frase2 = "hola, qué tal, yo bien, y tu"

In [96]:
frase2.split(",")

['hola', ' qué tal', ' yo bien', ' y tu']

In [77]:
nombre.lower()

'julia'

In [76]:
nombre.upper()

'JULIA'

In [79]:
texto = "hola, me llamo maría"

In [81]:
texto.title()

'Hola, Me Llamo María'

In [82]:
texto.swapcase()

'HOLA, ME LLAMO MARÍA'

In [91]:
texto

'hola, me llamo maría'

In [90]:
print(texto.upper())

HOLA, ME LLAMO MARÍA

In [ ]:
#INDEXING Y SLICING / CONCATENACIÓN
#start:stop:step

In [105]:
"Rocío"[0]

'R'

In [112]:
"Me gusta el chocolate"[0:8:3]

'Mgt'

In [113]:
nombre = input("Dime tu nombre, por favor")

In [ ]:
edad = 30

In [115]:
edad = int(input("Dime tu edad, por favor"))

600

In [ ]:
int()
str()
float()

In [117]:
print(f"Hola, {nombre}, sé que tienes {edad} años")

Hola, Rocío, sé que tienes 30 años

BOOLEANOS: TRUE O FALSE
- in
- not in
- not, and, or
- si una variable está vacía, es cero o nulo: False

In [125]:
not True and False

False

In [126]:
numero2= 20

In [127]:
numero2 >= 20

True

In [119]:
cancion = "Qué bonito está el día"

In [121]:
"noche" in cancion

False

In [118]:
not False

True

Imprimir en pantalla: print() y f-string

Introducir datos: input()
- por defecto, lo que introducimos es string
- si es numérico, hay que señalarlo

Operadores de comparación
==
!=
<
<=
>
>=

In [129]:
20 != 20

False

In [122]:
numero = 20

In [124]:
numero > 10 and numero > 20

False

### Pide al usuario dos números y realiza suma, resta, división entera, redondeo y comparación con ellos.

### Convierte un texto en mayúsculas, luego a minúsculas, reemplaza una palabra por otra, luego separa las palabras por espacios en una variable nueva y luego comprueba si tiene una palabra en concreto

In [130]:
texto_prueba = "Me encanta Harry Potter, de hecho soy de Ravenclaw"

In [134]:
texto_prueba = texto_prueba.replace("Ravenclaw", "Hufflepuff")

In [136]:
casa = input("Dime tu casa, porfa:")

In [137]:
veces = int(input("¿Cuántas veces te has leído los libros de Harry Potter"))

In [138]:
print(f"Sé que eres de la casa {casa} y te has leído los libros {veces} veces.")

Sé que eres de la casa Ravenclaw y te has leído los libros 5 veces.

In [135]:
texto_prueba.upper()

'ME ENCANTA HARRY POTTER, DE HECHO SOY DE HUFFLEPUFF'