### Listas --> Datos heterogéneos, acepta repetidos, elementos mutables, accesible por índice

In [77]:
tupla1 = (1, 2, 3)
tupla2 = ("Marta", "María", "Jane")


resultado = zip(tupla1, tupla2)

In [78]:
resultado

In [79]:
lista_final = list(resultado)

In [80]:
lista_final

[(1, 'Marta'), (2, 'María'), (3, 'Jane')]

In [1]:
lista1 = ["Marta", 20, "Madrid", True, "Madrid"]

In [2]:
lista1[0] = "María"

In [3]:
print(lista1)

['María', 20, 'Madrid', True, 'Madrid']

In [6]:
lista_nombres = ["Rosa", "Alba", "Marta"]

In [4]:
lista1[1] = 23

In [5]:
lista1

['María', 23, 'Madrid', True, 'Madrid']

In [8]:
lista1.pop()

'Madrid'

In [9]:
lista1

['María', 23, 'Madrid', True]

In [10]:
lista1.append(300)

In [11]:
lista1

['María', 23, 'Madrid', True, 300]

In [13]:
23 in lista1

True

In [14]:
numeros = 2,3,4,5,41

In [15]:
lista_numeros = list(numeros)

In [16]:
lista_numeros

[2, 3, 4, 5, 41]

- Listas = []
- Heterogénea [3,4,"María, False]
- Indexación y Slicing
- Mutable: lista[1] = 4
- Convertir en lista: list()
- in y not in

Funciones:

- .append() --> añadir nuevo elemento a la lista (solo uno)
- .insert() --> añadir elemento, pero diciéndole primero en qué índice lo quiero
- .extend() --> añadir varios elementos a la lista, entre corchetes
- .remove() --> quita un elemento en concreto
- .pop() --> quita el último elemento de la lista o el de una ubicación en concreto
- .reverse() --> le da la vuelta a esa lista
- .sort() --> ordena la lista // .sort(reverse=True) ordenar al revés
- .clear() --> vacía la lista
- .count() --> cuenta cuántas veces aparece en la lista el elemento que pongamos entre paréntesis ej: lista_compra.count("fresas")
- .index() --> nos dice el índice del valor que le pasemos
- len() --> nos dice cuántos elementos tiene la lista
- min()
- max()
- .copy() --> crea una copia para no sobreescribir la primera

In [ ]:
#Como añadir otra lista de datos
#Como saber la longitud
#Como eliminar el último elemento
#Cómo añadirle un elemento
#Preguntar si aparece "María"
#Borrar la lista

In [ ]:
lista_clienta = [30, "Marta", "Lugo", True, 5]

lista_gustos = ["libros", "música", "ciencia"]

In [ ]:
lista_clienta.extend(lista_gustos)

In [ ]:
lista_clienta

In [36]:
len(lista_clienta)

23

In [37]:
lista_clienta.pop()

'ciencia'

In [38]:
lista_clienta.pop(4)

5

In [39]:
lista_clienta.remove("Lugo")

In [40]:
lista_clienta.append("España")

In [42]:
"música" in lista_clienta

True

In [43]:
num_movil = int(input("Pásanos tu número móvil, por favor: "))

In [44]:
lista_clienta.append(num_movil)

In [45]:
print(lista_clienta)

[30, 'Marta', True, 'libros', 'música', 'ciencia', 'libros', 'música', 'ciencia', 'libros', 'música', 'ciencia', 'libros', 'música', 'ciencia', 'libros', 'música', 'ciencia', 'libros', 'música', 'España', 666999444]

In [46]:
lista_clienta.clear()

In [47]:
lista_clienta

[]

In [33]:
lista_clienta += lista_gustos

In [34]:
print(lista_clienta)

[30, 'Marta', 'Lugo', True, 5, 'libros', 'música', 'ciencia', 'libros', 'música', 'ciencia', 'libros', 'música', 'ciencia', 'libros', 'música', 'ciencia', 'libros', 'música', 'ciencia', 'libros', 'música', 'ciencia']

In [1]:
#Ejercicio: De la siguiente lista, elimina un país concreto, añade otro en una ubicación concreta, dale la vuelta, pide a la usuaria que introduzca
# un país y añádelo a la lista,
# ordénala por orden alfabético y cuenta cuántos países hay
paises = ["España", "Italia", "Bélgica", "Suiza", "Portugal"]

In [31]:
paises.remove("Italia")

In [32]:
paises.insert(0, "Suecia")

In [33]:
paises

['Suecia', 'España', 'Bélgica', 'Suiza', 'Portugal']

In [ ]:
#Pide un país y agrégalo a la lista

# Tuplas --> Datos heterogéneos, acepta repetidos, inmutables, accesible por índice

- Tuplas = ()
- Heterogénea
- Indexación y Slicing
- Inmutables: no se pueden añadir, eliminar o cambiar sus elementos
- Para cambiar, se puede pasar a lista
- Puede contener elementos MUTABLES
- Convertir en tupla: tuple()
- in y not in

Funciones:

- .count()
- .index()
- len()
- min()
- max()

In [53]:
cifras = (200, 300, 40000, 50, 120)

In [54]:
cifra_lista = list(cifras)

In [56]:
cifra_lista

[200, 300, 40000, 50, 120]

In [57]:
cifra_lista.extend([3000, 12000, 500, 60])

In [58]:
cifra_lista

[200, 300, 40000, 50, 120, 3000, 12000, 500, 60]

In [59]:
cifra_tupla = tuple(cifra_lista)

In [60]:
cifra_tupla

(200, 300, 40000, 50, 120, 3000, 12000, 500, 60)

In [48]:
tupla = (20, "Lluvia", "Sevilla", [1,2,3,4])

In [51]:
tupla[3][-1] = 0

In [52]:
print(tupla)

(20, 'Lluvia', 'Sevilla', [2, 2, 3, 0])

In [45]:
lista1 = list(tupla)

In [ ]:
lista1

In [47]:
lista1.append("Madrid")

In [ ]:
tuple(lista1)

In [ ]:
#Accede al último dato de la tupla
#Coge solo los dos primeros datos.
#Pregúntale si aparece "María"
#Conviértelo en lista, añádele un valor y después conviértelo en tupla
#cuenta cuántos valores tiene

In [62]:
datos = ("María", 30, "Madrid", "Calle Ramón y Cajal", "Marketing")

In [63]:
datos.index("Madrid")

2

In [64]:
datos[-1]

'Marketing'

In [68]:
datos[0:2]

('María', 30)

In [69]:
"Tahiera" in datos

False

In [70]:
datos_lista = list(datos)

In [71]:
datos_lista

['María', 30, 'Madrid', 'Calle Ramón y Cajal', 'Marketing']

In [72]:
datos_lista.append("Tahiera")

In [73]:
datos_lista

['María', 30, 'Madrid', 'Calle Ramón y Cajal', 'Marketing', 'Tahiera']

In [74]:
datos_tuple = tuple(datos_lista)

In [75]:
datos_tuple

('María', 30, 'Madrid', 'Calle Ramón y Cajal', 'Marketing', 'Tahiera')

# Diccionario --> Acepta repetidos (pero NO las claves, solo los valores), clave y valor, las claves son inmutables y únicas, accesible por clave

- Diccionarios = {clave:valor}
- Acepta valores repetidos
- Claves inmutables y no se pueden repetir, pero se pueden añadir y eliminar pares de clave-valor y modificar valores
- Valores heterogéneos
- Accesible por clave, NO POR ÍNDICE
- Convertir en diccionario: dict()
- in, not in

Funciones:

- len()
- .keys() --> muestra las claves
- .values() --> muestra los valores
- .items() --> devuelve una lista de tuplas con cada clave y valor
- .copy()
- .clear()
- .update() --> para añadir un elemento nuevo al diccionario, pero SIEMPRE se le pasa en formato diccionario, ejemplo: diccionario.update({"alumnas":18})
- .get() --> para obtener un valor, dándole una clave, aunque usamos más diccionario[clave]
- .pop() --> elimina un valor pasándole la clave
- .popitem() --> elimina el ultimo clave-valor agregado
- dictnuevo = {**dict1, **dict2, **dict3}

In [87]:
dict1 = {"nombre": "Raquel", "edad": 40, "país": "Portugal"}

In [88]:
dict2 = {"id": 12323, "profesión": "detective"}

In [92]:
dict1.update(dict2)

In [ ]:
dict1

In [ ]:
#¿Otra forma de hacerlo?

In [ ]:
#Con este diccionario quiero...
#Pedir una fruta y su cantidad y añadirla al diccionario
#Acceder al valor de manzanas y fresas
#Eliminar el último clave-valor
#Mostrar todas las frutas que hay (tipos)
#Mostrar la cantidad de frutas que tenemos en total
#Contar cuántos pares clave-valor tenemos
#Borrar el diccionario

frutas = {"peras": 10, "manzanas": 50, "uvas": 5, "fresas": 8, "sandías": 14, "naranjas": 14, "plátanos": 60}

# CONJUNTOS O SETS:

- Conjunto = {}
- No acepta valores repetidos
- Elementos mutables en cuanto a añadir o eliminar, pero no permite listas o diccionarios dentro
- Valores heterogéneos
- No accesible por índice, desordenados
- Convertir en conjunto: set()
- in, not in

Funciones:

- len()
- .add() --> para añadir un elemento más, SOLO UNO
- .update() --> para pasarle una lista de elementos a añadir
- .copy()
- .remove() --> elimina UN SOLO ELEMENTO y da error si no existe
- .discard() --> igual, pero no da errr
- .pop()
- .clear()

Operaciones especiales:

- a.union(b) o a | b --> Muestra los elementos que suman entre los dos conjuntos, sin repetir
- a.intersection(b) o a & b --> Muestra los elementos en común
- a.difference(b) o a-b --> Muestra los que aparece en uno, quitando los que aparecen en el otro
- a.symmetric_difference(b) o a^b --> Muestra los que no tengan en común
- a.issubset(b) o a <= b --> Da True si todos los elementos de a están en b
- a.issuperset(b) o a >= b --> Da True si a contiene todos los elementos de b
NO TIENE NADA QUE VER LA CANTIDAD DE VALORES

![![Conjuntos] (https://i.sstatic.net/uH6cL.png)](https://i.sstatic.net/uH6cL.png)

In [ ]:
regalos_navidad = {"chuches", "juguetes", "libros", "ropa", "carbón"}
regalos_cumple = {"tocadiscos", "ropa", "dinero", "libros", "juguetes"}

In [ ]:
#Quiero unir todos en un mismo conjunto llamado regalos

In [ ]:
#Quiero solo los regalos que aparezcan en común

In [ ]:
#Quiero los regalos que sean de navidad, pero que no sean de cumpleaños

In [ ]:
conjunto1 = {"María", "Antonio", "Juan", "Luisa", "Cecilia", "Pepa"}
conjunto2 = {"María", "Antonio"}

In [ ]:
#¿Es el conjunto2 un subconjunto del 1?

In [ ]:
#¿Es el conjunto1 un superconjunto del 2?