# Hoy vamos a ver:
## - Visual Studio Code: crear un Jupyter, guardar, code & markdown, activar código
## - Markdown
## - Comentar dentro del código
## - Variables
## - Variables numéricas
## - Variables de texto
## - Variables booleanas
## - print() y f-string
## - input()
## - Operadores de comparación

Jupyter --> File, New File, Jupyter Notebook
Guardar -> Save

Activar celda: Control + enter o check o play

Markdown

# Hola
## Subtítulo
### Subtítulo 2
_tema_

**texto**
- uno
- dos

Comentar dentro del código: el uso de # y """ """

In [ ]:
print("Hola")
a = 3 
b = 4
print(a+b)

Hola

In [ ]:
#esta variable es mi edad
#y la voy a usar para nosequé
a = 30
#esta segunda variable es el dinero que tengo
b = 150

In [3]:
libros = 30
maria = 50
kilos = 2.5

In [ ]:
nombre_cliente = "María Martínez"
sueldo = 1500
sueldo_anual = 50000

In [4]:
print(libros)

30

In [ ]:
mi_decimal = 2.5

In [ ]:
frase_favorita = "Qué buen día hace"

In [ ]:
True

In [ ]:
False

¿Qué es una variable? ¿Cómo nombrarla?

Tipos de variables:

- Numéricas
 - Para pasar a entero int()
 - Para pasar a decimal float()
- Cadena de texto
    - Para pasar una variable a string usamos str()
- Booleanas
    - Para pasar una variable a booleano usamos bool()

## NUMÉRICAS
Operaciones algebraicas: +, -, *, /
- //
- %
- **
- pow()
- divmod()
- round()
- abs()
- max()
- min()
- sorted()
- sum(())

In [22]:
pow(2,2)

4

In [25]:
min(2,4,7,1,2,7,6,4,2)

1

In [26]:
abs(-40)

40

In [23]:
2**2

4

In [19]:
saldo = 2.58839394841

In [21]:
round(saldo,2)

2.59

In [18]:
20 >=20

True

In [ ]:
20 % 2 == 0

True

In [13]:
20 % 2 != 0

False

In [5]:
num1 = 5
num2= 4

In [6]:
print(num1*num2)

20

In [7]:
print(num1/num2)

1.25

In [8]:
print(num1//num2)

1

In [ ]:
print(min(2,4,5,64,2))
print(max(4,3,11,23))

In [63]:
naranja = 1
fresa = 4
platano = 20
fruta_menor = min(naranja, fresa, platano)

In [ ]:
abs(-20)

In [ ]:
round(2.594945,2)

In [ ]:
pow(2,3)

In [46]:
peras = 5
uvas = 2

In [ ]:
30%3

In [28]:
print("Hola, qué tal")

Hola, qué tal

In [30]:
nombre = "Marta"
edad = 40
altura = 1.70
clienta = False

In [32]:
print(f"Hola qué tal, {nombre}, sé que tienes {edad} años y que mides {altura}")

Hola qué tal, Marta, sé que tienes 40 años y que mides 1.7

In [74]:
print(f"Hola, {nombre}, como tienes {edad} y mides {altura}, te ofrecemos esta oferta.")

Hola, Julia, como tienes 40 y mides 1.7, te ofrecemos esta oferta.

CADENAS DE TEXTO O STRING

- .upper()
- .lower()
- .title()
- .capitalize()
- .swapcase()
- .strip()
- .split()
- .replace()
- len()
- .find()
- .count()

In [33]:
mi_texto = "Hoy es nuestro primer día en Adalab"

In [37]:
mi_texto = mi_texto.replace("primer", "segundo")

In [34]:
mi_texto.lower()

'hoy es nuestro primer día en adalab'

In [42]:
mi_texto

'Hoy es nuestro segundo día en Adalab'

In [41]:
mi_texto2 = mi_texto.title()

In [43]:
mi_texto2

'Hoy Es Nuestro Segundo Día En Adalab'

In [44]:
amiga = "María del Carmen"

In [100]:
len(amiga)

16

In [45]:
lema = "Me encanta Python"

In [47]:
lema = lema.replace("Python", "comer")

In [48]:
frase = "  hola que tal  "

In [49]:
frase.strip()

'hola que tal'

In [50]:
frase.split()

['hola', 'que', 'tal']

In [95]:
frase2 = "hola, qué tal, yo bien, y tu"

In [ ]:
frase2.split(",")

In [79]:
texto = "hola, me llamo maría"

In [ ]:
texto.title()

In [ ]:
texto.swapcase()

In [ ]:
texto

In [ ]:
print(texto.upper())

In [ ]:
#INDEXING Y SLICING / CONCATENACIÓN
#start:stop:step

In [64]:
"Rocío"[0::]

'Rocío'

In [ ]:
"Me gusta el chocolate"[0:8:3]

In [65]:
nombre = input("Dime tu nombre, por favor")

In [67]:
edad = int(input("Dime tu edad"))

In [69]:
edad *2

60

In [66]:
nombre

'Rocío'

In [ ]:
edad = 30

In [115]:
edad = int(input("Dime tu edad, por favor"))

In [ ]:
int()
str()
float()

In [117]:
print(f"Hola, {nombre}, sé que tienes {edad} años")

Hola, Rocío, sé que tienes 30 años

BOOLEANOS: TRUE O FALSE
- in
- not in
- not, and, or
- si una variable está vacía, es cero o nulo: False

In [70]:
numero2= 20

In [71]:
numero2 >= 20

True

In [72]:
cancion = "Qué bonito está el día"

In [74]:
"día" in cancion

True

Imprimir en pantalla: print() y f-string

Introducir datos: input()
- por defecto, lo que introducimos es string
- si es numérico, hay que señalarlo

Operadores de comparación
**==**
**!=**
**<**
**<=**
**>=**
**>=**

In [75]:
20 != 20

False

In [122]:
numero = 20

In [ ]:
numero > 10 and numero > 20

### Pide al usuario dos números y realiza suma, resta, división entera, redondeo y comparación con ellos.

### Convierte un texto en mayúsculas, luego a minúsculas, reemplaza una palabra por otra, luego separa las palabras por espacios en una variable nueva y luego comprueba si tiene una palabra en concreto

In [130]:
texto_prueba = "Me encanta Harry Potter, de hecho soy de Ravenclaw"

In [136]:
casa = input("Dime tu casa, porfa:")

In [137]:
veces = int(input("¿Cuántas veces te has leído los libros de Harry Potter"))

In [ ]:
print(f"Sé que eres de la casa {casa} y te has leído los libros {veces} veces.")