# LECTURA DE FICHEROS

### Vamos a explorar...

- XML
- JSON
- CSV
- EXCEL

### XML

- "Lenguaje de Marcado Extensible". Es decir, es un lenguaje que utiliza etiquetas.
- Su objetivo es estructurar datos, guardarlos para luego poder utilizarlos.
- Usos: almacenamiento de datos, almacenar datos en la web.

In [ ]:
""" <libros>
    <libro>
        <titulo>El Principito</titulo>
        <autor>Antoine de Saint-Exupéry</autor>
        <año>1943</año>
    </libro>
    <libro>
        <titulo>1984</titulo>
        <autor>George Orwell</autor>
        <año>1949</año>
    </libro>
</libros> """

### JSON
- Ya lo hemos visto, pero son estructuras basadas en pares clave-valor y listas.
>>

In [ ]:
"""{ "nombre": "Juan",
  "edad": 30,
  "país": "México" 
}"""

### CSV
- Archivo en forma de tabla donde cada lína representa una fila y las columnas están separadas por comas (a veces por punto y coma):

In [ ]:
""" Nombre,Edad,País
Juan,30,México
María,25,España"""

### EXCEL

- Ya nos sonará bastante. Se utiliza para almacenar datos en hojas de cálculo

Normalmente tendremos una variable donde guardaremos el fichero. Para leer el fichero utilizaremos la librería pandas.
La usaremos MUCHO MUCHO
Nos va a ser MUY útil para manejar datos

In [9]:
import pandas as pd

In [ ]:
df dataframe / dataset

In [ ]:
#La estructura sería

nombre_variable = pd.read_json/xml/csv("personajes_pelicula.json")

### LEER UN JSON

In [10]:
df_onepiece = pd.read_json("one_piece.json") #metemos el archivo en la misma carpeta donde está este notebook

In [11]:
df_onepiece

,rank,trend,season,episode,name,start,total_votes,average_rating
0,"24,129",18,1,1,I'm Luffy! The Man Who Will Become the Pirate ...,1999,647,7.6
1,"29,290",11,1,2,"The Great Swordsman Appears! Pirate Hunter, Ro...",1999,473,7.8
2,"32,043",7,1,3,Morgan vs. Luffy! Who's This Beautiful Young G...,1999,428,7.7
3,"28,818",8,1,4,Luffy's Past! The Red-haired Shanks Appears!,1999,449,8.1
4,"37,113",4,1,5,"Fear, Mysterious Power! Pirate Clown Captain B...",1999,370,7.5
5,"36,209",4,1,6,Desperate Situation! Beast Tamer Mohji vs. Luffy!,1999,364,7.7

In [ ]:
df_onepiece.head(10) #cuidado con el nombre que le demos al fichero

,rank,trend,season,episode,name,start,total_votes,average_rating
0,"24,129",18,1,1,I'm Luffy! The Man Who Will Become the Pirate ...,1999,647,7.6

In [17]:
df_onepiece.tail(3)

,rank,trend,season,episode,name,start,total_votes,average_rating
3,"28,818",8,1,4,Luffy's Past! The Red-haired Shanks Appears!,1999,449,8.1
4,"37,113",4,1,5,"Fear, Mysterious Power! Pirate Clown Captain B...",1999,370,7.5
5,"36,209",4,1,6,Desperate Situation! Beast Tamer Mohji vs. Luffy!,1999,364,7.7

In [16]:
df_onepiece.sample(5)

,rank,trend,season,episode,name,start,total_votes,average_rating
5,"36,209",4,1,6,Desperate Situation! Beast Tamer Mohji vs. Luffy!,1999,364,7.7
1,"29,290",11,1,2,"The Great Swordsman Appears! Pirate Hunter, Ro...",1999,473,7.8
2,"32,043",7,1,3,Morgan vs. Luffy! Who's This Beautiful Young G...,1999,428,7.7

In [18]:
df_onepiece.isnull()

    rank  trend  season  episode   name  start  total_votes  average_rating
0  False  False   False    False  False  False        False           False
1  False  False   False    False  False  False        False           False
2  False  False   False    False  False  False        False           False
3  False  False   False    False  False  False        False           False
4  False  False   False    False  False  False        False           False
5  False  False   False    False  False  False        False           False

In [19]:
df_onepiece.isnull().sum()

rank              0
trend             0
season            0
episode           0
name              0
start             0
total_votes       0
average_rating    0
dtype: int64

In [20]:
df_onepiece.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   rank            6 non-null      object
 1   trend           6 non-null      int64
 2   season          6 non-null      int64
 3   episode         6 non-null      int64
 4   name            6 non-null      object
 5   start           6 non-null      int64
 6   total_votes     6 non-null      int64
 7   average_rating  6 non-null      float64
dtypes: float64(1), int64(5), object(2)
memory usage: 512.0+ bytes

In [ ]:
df_onepiece.drop_duplicates()

In [6]:
df_onepiece.fillna("Sin datos", inplace=True)

In [37]:
valores = df_onepiece["rank"].unique()

In [38]:
valores

array(['24,129', '29,290', '32,043', '28,818', '37,113', '36,209'],
      dtype=object)

### LEER UN XML

In [21]:
df_books = pd.read_xml("books.xml")

In [22]:
df_books.head(5)

,id,author,title,genre,price,publish_date,description
0,bk101,"Gambardella, Matthew",XML Developer's Guide,Computer,44.95,2000-10-01,An in-depth look at creating applications \n ...
1,bk102,"Ralls, Kim",Midnight Rain,Fantasy,5.95,2000-12-16,"A former architect battles corporate zombies, ..."
2,bk103,"Corets, Eva",Maeve Ascendant,Fantasy,5.95,2000-11-17,After the collapse of a nanotechnology \n ...
3,bk104,"Corets, Eva",Oberon's Legacy,Fantasy,5.95,2001-03-10,"In post-apocalypse England, the mysterious \n ..."
4,bk105,"Corets, Eva",The Sundered Grail,Fantasy,5.95,2001-09-10,"The two daughters of Maeve, half-sisters, \n ..."

### LEER UN EXCEL

In [23]:
df_libros = pd.read_excel("libros_ejemplo.xlsx")

In [24]:
df_libros.head(5)

   ID   Nombre    Autor  Precio Fecha_Publicacion
0   1  Libro A  Autor 1   15.99        2021-05-10
1   2  Libro B  Autor 2   23.50        2020-11-15
2   3  Libro C  Autor 3   12.75        2019-06-20
3   4  Libro D  Autor 4    8.99        2022-02-01
4   5  Libro E  Autor 5   19.95        2018-09-05

In [25]:
df_libros.tail(5)

   ID   Nombre    Autor  Precio Fecha_Publicacion
0   1  Libro A  Autor 1   15.99        2021-05-10
1   2  Libro B  Autor 2   23.50        2020-11-15
2   3  Libro C  Autor 3   12.75        2019-06-20
3   4  Libro D  Autor 4    8.99        2022-02-01
4   5  Libro E  Autor 5   19.95        2018-09-05

### LEER UN CSV

In [7]:
df_clientes = pd.read_csv("clientes.csv")

In [ ]:
df_clientes.head(4)

In [ ]:
df = pd.read_csv('archivo.csv', index_col=False) #Si vemos que nos aparece una fila con el índice

In [6]:
pd.set_option('display.max_rows', None) # Por si queremos que nos muestre todas las filas

In [28]:
df_christmas = pd.read_csv("christmas_movies.csv", index_col=False)

In [ ]:
df_christmas.head(2)

In [31]:
df_christmas.tail(2)

,title,rating,runtime,imdb_rating,meta_score,genre,release_year,description,director,stars,votes,gross,img_src,type
871,Proper Manors: Christmas Special: Christmas Pa...,NaN,20.0,NaN,NaN,"Action, Comedy, Crime",2012.0,Miles Barnes is forced to throw contractually-...,Dallin Boyce,"Brandyn Cross, Peter D'Alessio, Janis Race-Big...",NaN,NaN,https://m.media-amazon.com/images/S/sash/i-t32...,TV Episode
872,Sacred Music at Christmas: A Choral Christmas,NaN,NaN,NaN,NaN,"Documentary, Music",2010.0,Add a Plot,NaN,NaN,NaN,NaN,https://m.media-amazon.com/images/S/sash/i-t32...,TV Episode

In [32]:
df_christmas.fillna("Sin datos", inplace=True)

C:\Users\rmart\AppData\Local\Temp\ipykernel_4668\2427164663.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Sin datos' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_christmas.fillna("Sin datos", inplace=True)

In [33]:
df_christmas.tail(3)

,title,rating,runtime,imdb_rating,meta_score,genre,release_year,description,director,stars,votes,gross,img_src,type
870,Cosmic Cowboys: Céréal Christmas,Sin datos,Sin datos,Sin datos,Sin datos,Animation,2004.0,Add a Plot,Sin datos,Sin datos,Sin datos,Sin datos,https://m.media-amazon.com/images/S/sash/i-t32...,TV Episode
871,Proper Manors: Christmas Special: Christmas Pa...,Sin datos,20.0,Sin datos,Sin datos,"Action, Comedy, Crime",2012.0,Miles Barnes is forced to throw contractually-...,Dallin Boyce,"Brandyn Cross, Peter D'Alessio, Janis Race-Big...",Sin datos,Sin datos,https://m.media-amazon.com/images/S/sash/i-t32...,TV Episode
872,Sacred Music at Christmas: A Choral Christmas,Sin datos,Sin datos,Sin datos,Sin datos,"Documentary, Music",2010.0,Add a Plot,Sin datos,Sin datos,Sin datos,Sin datos,https://m.media-amazon.com/images/S/sash/i-t32...,TV Episode

In [ ]:
df_christmas

In [ ]:
df_christmas['title']

### ¿Y si quiero guardarlo?

## nombre_df.to_csv/excel/xml("nuevo_nombre", index=False)
### Y se guarda en la misma carpeta

In [36]:
df_christmas.to_csv("df_final.csv", index=False) #Y se nos guarda en la misma carpeta